@model WaiterNewOrderViewModel


@{
    ViewData["Title"] = "SeeMenu";
}


@section nav{
    <div class="dark-bg sticky-top">
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
    <link rel="stylesheet" type="text/css" href="~/css/menu_responsive.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Simple line Icon -->
    <link rel="stylesheet" href="~/css/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="~/css/set1.css">
    <!-- Swipper Slider -->
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/style.css">
}

@section scripts2{
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/plugins/jquery-datepicker/jquery-ui.js"></script>
    <script src="~/plugins/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="~/js/custom.js"></script>


}





<section class="main-block light-bg">

    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="d-flex justify-content-between align-items-center mb-0">
                            <cemter><span class="text-muted">Поръчка</span></cemter>
                            <span class="badge badge-secondary badge-pill">@Model.TableNumber</span>
                        </h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group mb-3">
                            @foreach (var item in Model.FinishOrderViewModels)
                            {
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6 class="my-0">@item.Name</h6>
                                  <br>
                                        <span class="badge badge-secondary badge-pill">@item.Amount</span> × @item.PricePerProduct лв

                                    </div>
                                    <span class="text-muted">@item.CommonPrice лв</span>
                                </li>
                            }


                            <li class="list-group-item d-flex justify-content-between">
                                <span>Сметка</span>
                                <strong>@Model.FinishOrderViewModels.Sum(x => x.CommonPrice) лв</strong>
                            </li>
                        </ul>
                        <form asp-action="WaiterAddNewOrder" asp-controller="Employee" method="get">
                            <input type="hidden" asp-for="EditOrder" value="true" />
                            <input type="hidden" asp-for="HiddenVal"  value="@Model.HiddenVal" />
                            <br> <center><button type="submit" class="btn btn-outline-danger  btn-block">Редактирай поръчка</button></center>
                        </form>
                        <form asp-action="OrderPost" asp-controller="Employee" method="post">
                            <input type="hidden" asp-for="HiddenVal" value="@Model.HiddenVal" />
                            <input type="hidden" asp-for="TableNumber" value="@Model.TableNumber" />
                            <br> <center><button type="submit" class="btn btn-primary btn-lg btn-block">Изпрати поръчка</button></center>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
